<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
	<!-- COLUMN 1 -->
	<p>
          ICE-AR Project funded through NSF/Intel Partnership on Information-Centric Networking in Wireless Edge Networks (ICN-WEN) program.
        </p>
	<!-- END COLUMN 1 -->
      </div>
    </div>
  </div>
  <!-- COPYRIGHT -->
  <div class="text-center copyright">
    &copy;2017 {{ site.author }}. All Rights Reserved.
  </div>
  <!-- END COPYRIGHT -->
</footer>
<!-- END FOOTER -->
